.bodyclass {
	background-color: #505050;
}

.menuoverlay {
	box-shadow: 10px 10px 5px;
	border-radius: 10px;
	background-color: #909090;
	border: 1px solid #000;
}

.menutop {
	margin: auto;
	width: 70%;
	height: 200px;
}

.menuleft {
	display: inline-block;
	margin-left: 8%;
	margin-top: 1%;
	width: 10%;
	height: 45em;
	text-align: center;
}

#sub {
	margin: auto;
	width: 80%;
}

.menuright {
	display: inline-block;
	position: absolute;
	top: 17%;
	left: 74%;
	width: 10%;
	height: 45em;
	text-align: center;
}

.doft_img {
	margin: 20px;
}

.spyglass_img {
	margin-left: 83%;
	margin-top: -6%;
}

.close_gif {
	float: right;
	margin-right: 1%;
	margin-top: -3.5%;
}

.reload_img {
	float: right;
	margin-right: 1%;
	margin-top: -13%;
}

.action_bar {
	padding-top: 6%;
}

.centerthing {
	display: inline-block;
	position: absolute;
	top: 17%;
	left: 26%;
	height: 69%;
	width: 46.5%;
}

.wall {
	display: inline-block;
	width: 70%;
	height: 14%;
	background: url("./resources/brick.jpg");
}

.centerpic {
	display: inline-block;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 96%;
}

.chatbox {
	display: inline-block;
	position: absolute;
	top: 80%;
	left: 20%;
	width: 20%;
	height: 15%;
	background-color: #A6FB96 !important;
}

.chatbox_text {
	font-family: sans-serif;
}

.chatbox_redboy {
	text-shadow: 2px 2px 4px #ff0000;
}

.chatbox_button {
	border: 1px;
}
